.team {
  background-color: #f5f4fa;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  @include desk {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.team-list__card {
  margin-bottom: 30px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}
.team-list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @include desk {
    margin-left: -30px;
    margin-bottom: 0;
  }
}

.team-list__name {
  text-align: center;
  margin-top: 30px;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-list__text {
  margin-top: 10px;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
  letter-spacing: 0.03em;
}

.social-links__icon {
  display: block;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.social-links__items:not(:last-child) {
  padding-right: 10px;
}

.social-links__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(---accent-color);
    outline: none;
  }
}

.social-links__icon {
  fill: #afb1b8;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: #ffffff;
}
